/* TSOS.css */
/* color pallete */
/* 231f20-bb4430-7ebdc2-f3dfa2-efe6dd */
body {
  background: #bb4430 !important;
  font-family: 'IBM Plex Mono', monospace !important ;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  color: #7ebdc2 !important;
}

h1 {
  color: #7ebdc2;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: #7ebdc2;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  /* font-family: Helvetica, Verdana, Arial, sans-serif; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:black;
  border: 2px solid #f3dfa2;
  cursor: default;
}

.normal_button {
  width: 100px;
}
div{
  /* margin:0px!important; */
}
.footerText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
.card{
  background-color:darkslategray !important;
  border: 1px solid #7ebdc2 !important;
  color:#efe6dd;
}
#pcbTable{
  width:25rem !important;
  padding-left:1%;
}
#divUserProgramInput{
  margin-left:11rem;
}
#procVals{
  border:2px solid #7ebdc2;
  background-color: #efe6dd;
  color: #efe6dd;
  padding: 0px;
  /* display:flex;
  display: flex; */
	/* min-height: 100vh; */
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
  font-size: 1.8vh;
  width:2px!important;
}
#procVals .card-header{
  align-content: flex;
  text-align:center;
  font-size:2.1vh;
}
#pcbData{
  margin-left:75rem!important;
  width:3rem !important;
   margin-top:-30rem; 
}
th ,td{
  padding: 5px;

}
th{
  border-bottom: 2px solid #7ebdc2;
}
td{
  border-left: 1px dotted #7ebdc2;
  border-right: 1px dotted #7ebdc2;
  text-align: center;
}
#memTable{
  border:2px solid #7ebdc2;
  background-color: #efe6dd;
  color: #231f20;
  height: 400px;
  width:447px;
  overflow-y: scroll;
  display:block;
}
#memTable table tbody tr td:first-child{
  font-weight: bold !important;
}