/* TSOS.css */

body {
  background: darkslategray !important;
  font-family: 'IBM Plex Mono', monospace !important ;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  color: lightgreen !important;
}

h1 {
  color: lightgreen;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: lightgreen;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  /* font-family: Helvetica, Verdana, Arial, sans-serif; */
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:lightblue;
  border: 2px solid red;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
.card{
  background-color:darkslategray !important;
  border: 1px solid lightgreen !important;
}
